@model U3RazasPerros.Areas.Admin.Models.ViewModels.RazasAgregarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar";
    Layout = "MasterPage";
}

<h2>Agregar razas de perros</h2>
<form method="post" asp-action="Agregar" asp-controller="Admin" enctype="multipart/form-data">
    <label>Id:</label>
    <input required="required" type="number" asp-for="Razas.Id" readonly />
    <label>Nombre:</label>
    <input required="required" type="text" asp-for="Razas.Nombre" />
    <br />
    <label>Descripción:</label>
    <br />
    <textarea required="required" asp-for="Razas.Descripcion" rows="6" cols="80"></textarea>
    <br />
    <label>Otros nombres:</label>
    <input type="text" asp-for="Razas.OtrosNombres" />
    <select asp-for="Razas.IdPais" asp-items="@(new SelectList(Model.Paises, "Id", "Nombre"))">
        <option value="">Seleccione un país</option>
    </select>
    <br />
    <label>Peso mínimo:</label>
    <input type="number" asp-for="Razas.PesoMin" required="required" readonly />
    <label>Peso máximo:</label>
    <input type="number" asp-for="Razas.PesoMax" required="required" readonly />
    <br />
    <label>Altura mínimo:</label>
    <input type="number" asp-for="Razas.AlturaMin" required="required" readonly />
    <label>Altura máximo:</label>
    <input type="number" asp-for="Razas.AlturaMax" required="required" readonly />
    <br />
    <label>Esparanza de vida:</label>
    <input type="number" asp-for="Razas.EsperanzaVida" required="required" readonly />
    <h2>Características físicas:</h2>
    <label>Patas:</label>
    <input type="text" asp-for="Razas.Caracteristicasfisicas.Patas" required="required" readonly />
    <label>Cola:</label>
    <input type="text" asp-for="Razas.Caracteristicasfisicas.Cola" required="required" readonly />
    <br />
    <label>Hocico:</label>
    <input type="text" asp-for="Razas.Caracteristicasfisicas.Hocico" required="required" readonly />
    <label>Pelo:</label>
    <input type="text" asp-for="Razas.Caracteristicasfisicas.Pelo" required="required" readonly />
    <br />
    <label>Colar:</label>
    <input type="text" asp-for="Razas.Caracteristicasfisicas.Color" required="required" readonly />

    <br />
    <input type="file" id="fileUpload1" name="archivo1" accept="image/jpg" onchange="mostrarImagen(this)" /><br />
    <img id="imagePreview" src="~/imgs_perros/NoPhoto.jpg" alt="Vista previa de la imagen" height="100" width="200" />
    <div class="botones">
        <p id="error">
            @Html.ValidationSummary()
        </p>
        <input type="submit" value="Agregar" id="btnAgregar" />
        <a asp-action="Index" asp-controller="Admin">
            <input type="button" value="Cancelar" id="btnCancelar" formnovalidate="formnovalidate" />
        </a>
    </div>
</form>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.querySelector('#imagePreview').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    document.querySelector("#fileUpload1").addEventListener("change", event => {
        mostrarImagen(event.target)
    });
</script>